.*
!/.github/
!.gitignore

*.gem

# https://yehudakatz.com/2010/12/16/clarifying-the-roles-of-the-gemspec-and-gemfile/
Gemfile.lock

_sass/bootstrap/*
!_sass/bootstrap/LICENSE
!_sass/bootstrap/scss/

_sass/primer-markdown/*
!_sass/primer-markdown/LICENSE
!_sass/primer-markdown/build/
_sass/primer-markdown/build/*
!_sass/primer-markdown/build/build.scss

_site/

assets/algoliasearch/*
!assets/algoliasearch/dist/
assets/algoliasearch/dist/*
!assets/algoliasearch/dist/algoliasearch-lite.umd.js

assets/bootstrap/*
!assets/bootstrap/LICENSE
!assets/bootstrap/dist/
assets/bootstrap/dist/*
!assets/bootstrap/dist/js/
assets/bootstrap/dist/js/*
!assets/bootstrap/dist/js/bootstrap.bundle.min.js
!assets/bootstrap/dist/js/bootstrap.bundle.min.js.map

assets/bootstrap-table/*
!assets/bootstrap-table/LICENSE
!assets/bootstrap-table/dist/
assets/bootstrap-table/dist/*
!assets/bootstrap-table/dist/bootstrap-table.min.css
!assets/bootstrap-table/dist/bootstrap-table.min.js
!assets/bootstrap-table/dist/extensions/
assets/bootstrap-table/dist/extensions/*
!assets/bootstrap-table/dist/extensions/mobile/
assets/bootstrap-table/dist/extensions/mobile/*
!assets/bootstrap-table/dist/extensions/mobile/bootstrap-table-mobile.min.js

assets/@fortawesome/*
!assets/@fortawesome/fontawesome-free/
assets/@fortawesome/fontawesome-free/*
!assets/@fortawesome/fontawesome-free/css/
assets/@fortawesome/fontawesome-free/css/*
!assets/@fortawesome/fontawesome-free/css/all.min.css
!assets/@fortawesome/fontawesome-free/webfonts/

assets/instantsearch.js/*
!assets/instantsearch.js/LICENSE
!assets/instantsearch.js/dist/
assets/instantsearch.js/dist/*
!assets/instantsearch.js/dist/instantsearch.production.min.js
!assets/instantsearch.js/dist/instantsearch.production.min.js.map

assets/jquery/*
!assets/jquery/LICENSE.txt
!assets/jquery/dist/
assets/jquery/dist/*
!assets/jquery/dist/jquery.min.js

assets/popper.js/*
!assets/popper.js/dist/
assets/popper.js/dist/*
!assets/popper.js/dist/umd/
assets/popper.js/dist/umd/*
!assets/popper.js/dist/umd/popper.min.js

node_modules/
