<aside>

    <header>

        {%- capture header %}{% include header.md %}{% endcapture -%}
        {{ header | markdownify | replace: " id=", " data-id=" }}

    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Hidden brand</a>

        {%- capture nav %}{% include nav.md %}{% endcapture -%}
        {{ nav | markdownify | replace: " id=", " data-id=" }}

    </div>

    </nav>

    <footer>

        {%- capture footer %}{% include footer.md %}{% endcapture -%}
        {{ footer | markdownify | replace: " id=", " data-id=" }}

    </footer>

</aside>
