<aside>

    <header>

        {%- capture header %}{% include header.md %}{% endcapture -%}
        {{ header | markdownify | replace: " id=", " data-id=" }}

    </header>

    <nav class="navbar navbar-expand-sm">

        <button aria-expanded="false" class="btn" data-toggle="collapse" data-target="#navbarSupportedContent" type="button">
            <span class="oi oi-menu"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            {%- capture nav %}{% include nav.md %}{% endcapture -%}
            {{ nav | markdownify | replace: " id=", " data-id=" }}

        </div>

    </nav>

    <footer>

        {%- capture footer %}{% include footer.md %}{% endcapture -%}
        {{ footer | markdownify | replace: " id=", " data-id=" }}

    </footer>

</aside>
