<aside class="col-sm">

    <header>

        {%- capture header -%}{%- include header.md -%}{%- endcapture -%}
        {{- header | markdownify | replace: " id=", " data-id=" | strip -}}

    </header>

    <button aria-controls="nav" aria-expanded="false" class="btn btn-sm collapsed" data-target="#nav" data-toggle="collapse">Menu</button>

    <nav class="collapse" id="nav">

        {%- capture nav -%}{%- include nav.md -%}{%- endcapture -%}
        {{- nav | markdownify | replace: " id=", " data-id=" | strip -}}

    </nav>

    <footer>

        {%- capture footer -%}{%- include footer.md -%}{%- endcapture -%}
        {{- footer | markdownify | replace: " id=", " data-id=" | strip -}}

    </footer>

</aside>
