// Default font
$font-family-sans-serif: "PT Sans" !default;

// Crimson links
$link-color: #a51c30 !default;
$link-hover-color: $link-color !default;

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Import build of primer-markdown after renaming build.css to build.scss via package.json so that we can import, per
// https://stackoverflow.com/questions/7111610/import-regular-css-file-in-scss-file/36166487#36166487
@import "primer-markdown/build/build.scss";

// GitHub syntax highlighter color scheme for Pygments
// https://github.com/PhilipTrauner/pygments-github-css/blob/master/github.css
@import "rouge";

// Import Google Fonts
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700");

//// marker

// Suppress margin
.fa-ul {
    margin-left: 0;
}

// local
[data-local] {
    border-bottom-style: dotted;
    border-bottom-width: thin;
    cursor: help;
}

// + and -
[data-marker="+"], [data-marker="-"] {
    cursor: pointer;
}
[data-marker="+"] > .fa-li, [data-marker="-"] > .fa-li {
    user-select: none;
}
[data-marker="+"] > .fa-li > .fa-plus-square, [data-marker="-"] > .fa-li > .fa-minus-square {
    font-size: 80%;
}

// +
[data-marker="+"] > ol, [data-marker="+"] > ul {
    display: none;
}

// *
[data-marker="*"] > .fa-li > .fa-circle {
    cursor: pointer;
    font-size: 40%;
    vertical-align: 40%;
}

// next
.next {
    display: none;
}

// spoiler
details > summary {
    font-weight: bold;
}

// Suppress bottom margin within parents, but not for .highlight
.markdown-body :last-child:not(.highlight) {
    margin-bottom: 0;
}
