// Default font
$font-family-sans-serif: "PT Sans" !default;

// Crimson links
$link-color: #a51c30 !default;
$link-hover-color: $link-color !default;

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Import build of primer-markdown after renaming build.css to build.scss via package.json so that we can import, per
// https://stackoverflow.com/questions/7111610/import-regular-css-file-in-scss-file/36166487#36166487
@import "primer-markdown/build/build.scss";

// GitHub syntax highlighter color scheme for Pygments
// https://github.com/PhilipTrauner/pygments-github-css/blob/master/github.css
@import "rouge";

// Import Google Fonts
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700");

// marker
.fa-ul {
    margin-left: 0;
}
[data-marker="+"] > .fa-li > .fa-play
{
    font-size: 50%;
    vertical-align: 25%
}
[data-marker="-"] > .fa-li > .fa-play {
    font-size: 50%;
    transform: rotate(90deg);
    vertical-align: 25%
}
[data-marker="*"] > .fa-li > .fa-circle {
    font-size: 25%;
    vertical-align: 25%;
}

// next
.next {
    display: none;
}

// spoiler
details > summary {
    font-weight: bold;
}

// Suppress bottom margin within parents
.markdown-body :last-child {
    margin-bottom: 0;
}

