// Default font
$font-family-sans-serif: "PT Sans" !default;

// Crimson links
$link-color: #a51c30 !default;
$link-hover-color: $link-color !default;

// Import Bootstrap
@import "node_modules/bootstrap/scss/bootstrap.scss";

// Import build of primer-markdown after renaming build.css to build.scss via package.json so that we can import, per
// https://stackoverflow.com/questions/7111610/import-regular-css-file-in-scss-file/36166487#36166487
@import "node_modules/primer-markdown/build/build.scss";

// Import Google Fonts
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700");

// Root em
html {
    font-size: 20px;
}

// Defaults for iframes
iframe {
    border: 0;
    height: 480px;
    width: 100%;
}

// Confine images to parent
img {
    max-width: 100%;
}

// Crimson aside, transparent text
aside {
    background-color: $link-color;
    bottom: 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.125rem;
    left: 0;
    padding: 2rem 2rem;
    overflow: auto;
    position: fixed;
    text-align: left;
    top: 0;
    width: 20rem;
}

// Bold headings
aside h1, 
aside h2, 
aside h3, 
aside h4, 
aside h5, 
aside h6 {
    font-weight: bold;
}

// Opaque text
aside a,
aside a:hover,
aside button {
    background-color: inherit;
    color: rgba(255, 255, 255, 1);
    opacity: 1;
}

// Separate nav button (or header) and footer, applying margins to children to avoid flicker when uncollapsing
nav *:first-child {
    margin-top: 1rem;
}

// Mimic Primer
header *:last-child,
nav *:last-child,
footer *:last-child {
    margin-bottom: 0;
}

// Separate button from header and nav
aside button[data-toggle=collapse] {
    margin-top: 1rem;
}

// Remove padding above and below icon
aside button[data-toggle=collapse] {
    padding-bottom: 0;
    padding-top: 0;
}

// No bullets for nav
nav dl,
nav ol,
nav ul {
    list-style: none;
    padding-left: 0;
}

// Separate footer from nav unless empty
footer {
    margin-top: 1rem;
}
footer:empty {
    margin-top: 0;
}

// Padding around main
main {
    margin-left: 20rem;
    padding: 4rem 2rem;
}

// Override Primer's family and size for fonts
.markdown-body {
    font-family: unset; /* Use our family */
    font-size: unset; /* Use our size */
}

// Add padding above headings to match Primer's padding below headings,
// to ensure anchors aren't too close to top of viewport
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    margin-top: calc(24px - .3em); /* $spacer-4, https://github.com/primer/primer/blob/master/modules/primer-markdown/lib/headings.scss, is 24px in build.css */
    padding-top: .3em;
}

// Subtle anchors in headings 
.markdown-body h2 a,
.markdown-body h3 a,
.markdown-body h4 a,
.markdown-body h5 a,
.markdown-body h6 a {
    color: inherit;
    text-decoration: none;
}

// Fix inconsistency in Primer
// https://github.com/primer/primer/pull/563
.markdown-body ol > li:first-child,
.markdown-body ul > li:first-child {
    margin-top: .25em;   
}

// 
.markdown-body li > blockquote,
.markdown-body li > div > div.highlight,
.markdown-body li > img,
.markdown-body li > pre {
    margin-top: .25em;
}

 // Mimic h1's bottom border
.markdown-body hr {
    background-color: #eaecef;
    height: 1px;
}

// Mimic paragraph
.markdown-body .embed-responsive {
    margin-bottom: 16px;
    margin-top: 0;
}

// Condense TOC
#markdown-toc li + li,
#markdown-toc ol > li:first-child,
#markdown-toc ul > li:first-child {
    margin-top: 0;
}

// On large devices
@include media-breakpoint-up(md) {

    // Hide button above nav
    aside button[data-toggle=collapse] {
        display: none;
    }

    // Show nav
    nav.collapse:not(.show) {
        display: block;
    }
}

// On small devices
@include media-breakpoint-down(sm), print {

    // Root em
    html {
        font-size: 16px;
    }

    // Static aside
    aside {
        bottom: auto;
        left: auto;
        overflow: visible;
        position: static;
        right: auto;
        text-align: center;
        top: auto;
        width: auto;
    }

    // Don't offset main
    main {
        margin-left: auto;
    }
}

// On printers
@media print {

    // Static aside
    aside {
        bottom: auto;
        left: auto;
        overflow: visible;
        position: static;
        right: auto;
        text-align: center;
        top: auto;
        width: auto;
    }

    // Hide button above nav
    aside button[data-toggle=collapse] {
        display: none;
    }

    // Only show header
    nav.collapse:not(.show), footer {
        display: none;
    }

    // Don't offset main
    main {
        margin-left: auto;
    }
}
