<!DOCTYPE html>

<html lang="en-us">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"x/>

        <meta property="og:description" content="{{ site.description }}">

        <meta property="og:image" content="{{ site.image }}">
        <meta property="og:title" content="{{ site.title }}">
        <meta property="og:url" content="{{ site.url }}">

        <link href="{{ site.baseurl }}/favicon.ico" rel="icon">
        <link href="{{ site.baseurl }}/assets/styles.css" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/fitty@2.2.6/dist/fitty.min.js"></script>

        <script>

            $(function() {

                // Make text fit perfectly
                fitty('.fit');
            });

        </script>

        <title>{{ site.title }}</title>

        {% include head.html %}

    </head>

    <body>

        <aside>

            <header>

                {% capture header %}{% include header.md %}{% endcapture %}
                {{ header | markdownify | replace_regex: ' +id="[^"]+"', '' }}

            </header>

            <nav>

                {% capture nav %}{% include nav.md %}{% endcapture %}
                {{ nav | markdownify | replace_regex: ' +id="[^"]+"', '' }}

            </nav>

            <footer>

                {% capture footer %}{% include footer.md %}{% endcapture %}
                {{ footer | markdownify | replace_regex: ' +id="[^"]+"', '' }}

            </footer>

        </aside>

        <main>

            {{ content }}

        </main>

    </body>

</html>
