<!DOCTYPE html>

<html lang="{{ page.lang | default: site.lang | default: "en-us" }}">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta property="og:description" content="{{ site.description }}">

        <meta property="og:image" content="{{ site.image }}">

        {%- capture title -%}
            {%- if page.title -%}
                {{- page.title -}}
            {%- endif -%}
            {%- if site.title -%}
                {%- unless site.github and site.title == site.github.repository_name -%}
                    {%- if page.title %} - {% endif -%}
                    {{- site.title -}}
                {%- endunless -%}
            {%- endif -%}
        {%- endcapture %}

        <meta property="og:title" content="{{ title }}">

        <meta property="og:url" content="{{ site.url }}">

        <link href="{{ '/favicon.ico' | relative_url }}?{{ site.time | date: '%s' }}" rel="icon">

        <!-- https://fontawesome.com/how-to-use/on-the-web/referencing-icons/basic-use -->
        <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" rel="stylesheet">

        <link href="{{ '/assets/css/style.css' | relative_url }}?{{ site.time | date: '%s' }}" rel="stylesheet">

        <!-- http://getbootstrap.com/docs/4.3/getting-started/introduction/ -->
        <script crossorigin="anonymous" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <script>

            $(document).on('DOMContentLoaded', function() {

                // Get headings
                let $headings = $([
                    'main.markdown-body h2',
                    'main.markdown-body h3',
                    'main.markdown-body h4',
                    'main.markdown-body h5',
                    'main.markdown-body h6'].join(','));

                // Add anchors to headings
                $headings.each(function(index, element) {
                    if ($(element).attr('id') && $(element).has('a').length === 0) {
                        $(element).wrapInner($('<a data-id href="#' + $(element).attr('id') + '"></a>'));
                    }
                });

                // For each iframe
                $('iframe').each(function(index, element) {

                    // Ensure responsive in Safari on iOS (for, e.g., Google Calendars), per https://stackoverflow.com/a/23083463/5156190
                    if (!$(this).attr('scrolling')) {
                        $(this).attr('scrolling', 'no');
                    }

                    // If an embedded YouTube video
                    let matches = $(this).attr('src').match(/^https:\/\/www.youtube.com\/embed\/([A-Za-z0-9_-]+)/);
                    if (matches) {

                        // Add allowfullscreen if not present
                        if ($(this).attr('allowfullscreen') === undefined) {
                            $(this).attr('allowfullscreen', '');
                        }

                        // Add modifier classes if not present, assuming 16x9 by default
                        if (!$(this).hasClass('embed-responsive-item')) {
                            $(this).addClass('embed-responsive-item');
                            $(this).wrap('<div class="embed-responsive embed-responsive-16by9"></div>');
                        }

                        // Add background image for printing
                        // https://stackoverflow.com/a/2068371/5156190
                        if ($(this).css('background-image') === 'none') {
                            $(this).css('background-image', 'url("https://img.youtube.com/vi/' + matches[1] + '/sddefault.jpg")');
                            $(this).css('background-repeat', 'no-repeat');
                            $(this).css('background-size', 'cover');
                        }
                    }
                });

                // Ensure last heading can be anchored atop page
                $(window).resize(function() {
                    let last = $headings.last();
                    if (last.length) {

                        // On small devices
                        if ($('aside').position().top < $('main').position().top) {
                            var margin = $(window).height() - ($('main').outerHeight() + $('aside').outerHeight() - last.offset().top);
                        }

                        // On large devices
                        else {
                            var margin = $(window).height() - ($('main').outerHeight() - last.offset().top);
                        }

                        // Update margin
                        $('main').css('margin-bottom', Math.max(0, Math.ceil(margin)) + 'px');
                    }
                });
                $(window).trigger('resize');

            });

        </script>

        <title>{{ title }}</title>

    </head>

    <body>

        <div class="container-fluid">

            <div class="row">

                <aside class="col-md">
 
                    <header>

                        {%- capture header -%}{%- include header.md -%}{%- endcapture -%}
                        {{- header | markdownify | replace: " id=", " data-id=" | strip -}}

                    </header>

                    <button aria-controls="nav" aria-expanded="false" class="btn btn-sm collapsed d-md-none" data-target="aside > nav" data-toggle="collapse">Menu</button>

                    <nav class="collapse d-md-block">

                        {%- capture nav -%}{%- include nav.md -%}{%- endcapture -%}
                        {{- nav | markdownify | replace: " id=", " data-id=" | strip -}}

                    </nav>

                    <footer>

                        {%- capture footer -%}{%- include footer.md -%}{%- endcapture -%}
                        {{- footer | markdownify | replace: " id=", " data-id=" | strip -}}

                    </footer>

                </aside>

                <main class="col-md markdown-body">

                    {{ content }}

                </main>

            </div>

        </div>

    </body>

</html>
