<!DOCTYPE html>

<html lang="{{ page.lang | default: site.lang | default: "en-us" }}">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"x/>

        <meta property="og:description" content="{{ site.description }}">

        <meta property="og:image" content="{{ site.image }}">

        {%- capture title -%}
            {%- if page.title -%}
                {{- page.title -}}
            {%- endif -%}
            {%- if site.title != site.github.repository_name -%}
                {%- if page.title %} - {% endif -%}
                {{- site.title -}}
            {%- endif -%}
        {%- endcapture -%}

        <meta property="og:title" content="{{ title }}">

        <meta property="og:url" content="{{ site.url }}">

        <link href="{{ '/favicon.ico?v=' | append: site.github.build_revision | relative_url }}" rel="icon">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" rel="stylesheet">
        <link href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.1/anchor.min.js"></script>

        <script>

            $(document).on('DOMContentLoaded', function() {

                // Add toggler
                let nav = $('aside nav.collapse');
                let button = $('<button aria-expanded="false" class="btn collapsed" data-toggle="collapse" type="button"><span class="oi oi-menu"></span></button>');
                nav.before(button);
                button.click(function() {
                    nav.collapse('toggle');
                    $(this).toggleClass('collapsed');
                    $(this).attr('aria-expanded', !$(this).attr('aria-expanded'));
                });

                // Add anchors on DOMContentLoaded
                // https://www.bryanbraun.com/anchorjs/#basic-usage
                {% for i in (2..6) -%}
                    anchors.add('main.markdown-body h{{ i }}');
                {% endfor %}

                // For each iframe
                $('iframe').each(function(index, element) {

                    // If an embedded YouTube video
                    if ($(this).attr('src').toLowerCase().startsWith('https://www.youtube.com/embed/')) {

                        // Add allowfullscreen if not present
                        if ($(this).attr('allowfullscreen') === undefined) {
                            $(this).attr('allowfullscreen', '');
                        }

                        // Add modifier classes if not present, assuming 16x9 by default
                        if (!$(this).hasClass('embed-responsive-item')) {
                            $(this).addClass('embed-responsive-item');
                            $(this).wrap('<div class="embed-responsive embed-responsive-16by9"></div>');
                        }
                    }
                });

            });

        </script>

        <title>{{ title }}</title>

    </head>

    <body>

        {%- include aside.html -%}

        {%- include main.html -%}

    </body>

</html>
