<!DOCTYPE html>

<html lang="{{ page.lang | default: site.lang | default: "en-us" }}">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"x/>

        <meta property="og:description" content="{{ site.description }}">

        <meta property="og:image" content="{{ site.image }}">

        {%- capture title -%}
            {%- if page.title -%}
                {{- page.title -}}
            {%- endif -%}
            {%- if site.title != site.github.repository_name -%}
                {%- if page.title %} - {% endif -%}
                {{- site.title -}}
            {%- endif -%}
        {%- endcapture -%}

        <meta property="og:title" content="{{ title }}">

        <meta property="og:url" content="{{ site.url }}">

        <link href="{{ '/favicon.ico?v=' | append: site.github.build_revision | relative_url }}" rel="icon">
        <link href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" rel="stylesheet">
        <link href="{{ '/assets/css/print.css?v=' | append: site.github.build_revision | relative_url }}" media="print" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>{{ title }}</title>

    </head>

    <body>

        <aside>

            <header>

                {%- capture header %}{% include header.md %}{% endcapture -%}
                {{ header | markdownify | replace: " id=", " data-id=" }}

            </header>

            <nav>

                {%- capture nav %}{% include nav.md %}{% endcapture -%}
                {{ nav | markdownify | replace: " id=", " data-id=" }}

            </nav>

            <footer>

                {%- capture footer %}{% include footer.md %}{% endcapture -%}
                {{ footer | markdownify | replace: " id=", " data-id=" }}

            </footer>

        </aside>

        <main>

            {{ content }}

        </main>

    </body>

</html>
